/** resets **/
body{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%; 
  line-height: 1;
}

::-moz-selection { background: #a4dcec; }
::-webkit-selection { background: #a4dcec; }

::-webkit-input-placeholder { /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic;  
}

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }


p {
  display: block;
  font-size: 1.35em;
  line-height: 1.5em;
  margin-bottom: 22px;
}


#search_box_form{
  display: inline-block;
  background: #eeefed;
  padding: 5px;
  border-radius: 3px;
  margin: 5px 0 5px 0;
}

#autocomplete{
  width: 275px;
  height: 30px;
  padding: 0 10px 0 10px;
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #aeaeae;
  font-weight:normal;
  font-size: 1.3em;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

#searchfield form .biginput:focus {
  color: #858585;
}

.flatbtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #f3faef;
  text-decoration: none;
  background-color: #6bb642;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; max-height: 115px; min-height: 115px; overflow-y: scroll; opacity: 0.95;}
.autocomplete-suggestion { padding: 5px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

.ui-menu-item
{
}

#active_categories
{
    width: 250px;
    margin: 2px 12.5px;
}

.active_category_item
{
    width: 250px;
    padding: 2px;
    margin: 3px;
    background-color: #eee;
    box-shadow: 0 0 4px #999;
    height: 22px;
    margin-bottom: 7.5px;
    transition: background-color 0.35s ease;
}

.active_category_item:hover
{
    background-color: #ddd;
}

.active_category_item .item_name
{
    font-size: 1.3em;
    padding: 3px;
}

.active_category_item .item_percent
{
    font-size: 1.2em;
    padding: 3px;
    color: #5cb;
    font-style: italic;
}

.active_category_item .separator
{
    font-size: 17px;
    color: #aaa;
}

.active_category_item input
{
    float: right;
    height: 16px;
    width: 16px;
}

.active_category_item i
{
    color: #bbb;
}


.active_category_item .delete_item
{
    /*
  height: 11.5px;
    background-color: #f00;
    box-shadow: 0 0 3px #444;
    margin: 5px;
  */
  border-radius: 15px;
    border: none;
    height:21px;
  color:#c00;
  background-color:#eee;
  font-size:16px;
}

#category_selector
{
    width: 280px;
  float:left;
  padding-top:15px;
}

#other_categories
{
    width: 275px;
    height: 200px;
    background-color: #eeefed;
}

.other_category_item
{
}

.other_category_item .item_name
{
}

#chartholder, #tabs #firstparty
{
  margin-left:300px;
}
#chart
{
  overflow-x:scroll;
  width:80%;
  padding-bottom:10px;
}

#chartholder .tooltip
{
  position: absolute;
  text-align: center;
  min-width: 100px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}

.tooltip p {
  margin: 0;
  padding:0;
  font-size:1.0em;
  text-align:left;
}

.tooltip a {
  
  z-index: 999;
}

#tabs #thirdparty
{
  float:left;
}

#tabs ul
{
  padding: 2px;
  margin: 0;
  list-style-type:none;
  width:200px;
}
#tabs li {
  display:inline;
}
#tabs li a
{
  text-align:center;
  text-decoration:none;
  padding: 2px;
    margin: 3px;
    background-color: #eee;
    box-shadow: 0 0 4px #999;
    height: 22px;
    margin-bottom: 7.5px;
    transition: background-color 0.15s ease;
  color:#33C;
}

#tabs .selected
{
  background-color: #ccc;
}

#tabs span {
  float:left;
  padding: 2px;
  width:60px;
}

.move_up, .move_down {
  width:18px;
  height:22px;
  float:right;
  background-color:#eee;
  border:0px none;
  border-radius: 10px;
    margin-left:5px;
}

header
{
  width: 100%;
  height: 100px;
  background-image: url('background.jpg');
  background-position: 0px 545px;
}

#logo{
  width: 200px;
  margin-left: 550px;
}

.domain
{
  z-index: 1;
}

embed
{
  width: 100%;
  height: 1000px;
}