* {	margin: 0;	padding:0;  	outline:none;}
html {height:100%; background:#fff;}

body{height: 100%; font-family: 'Open Sans', sans-serif; font-size:16px; line-height:19px; color:#666666;  position: relative; }
body.hid{overflow:hidden;}

header, 
nav, 
section, 
article, 
aside, 
footer {  display: block}
input[type="submit"], textarea, button {-webkit-appearance: none;}

img { border:none; max-width:100%;}
a{ color:#1dadea; text-decoration: none; }
a:hover {text-decoration:underline;}

.hide{
  display:none;
}

.show{
  display:block;

}


#container { z-index: 20; position: relative; margin: 0 auto; width:100%;  /*min-width:1300px;*/ min-width: 100%; overflow:hidden; min-height:100%;}

/*--------------------------------------*/
#wrapper {position: relative;  margin:0 auto; position:relative;  width:100%;  }
#content { margin:0 auto; padding: 0px 0px;  position:relative; clear:both; width:100%;}
.APIContent{max-width:1334px}

 .section{
    overflow: hidden;
    background-color:#0c0d27;
    background-image:  url("bg_web_min.jpg");position: static;
	height: 250px;
   
	/*background-size: cover;*/
	background-repeat: no-repeat;
	background-position: 0px -280px;
    background-attachment: fixed;
    z-index: 1;
/*   -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
     -ms-backface-visibility: hidden;
     -o-backface-visibility: hidden;
    backface-visibility: hidden;*/
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
 }

.section h1{color:#fff; text-shadow: 0 2px 5px rgba(1,1,1,.75); text-align:center; line-height: 76px; letter-spacing: -1px;}
.section h1 span{font-size:50px; display:block;}
.section h1 span.main_text_small {font-size:36px;line-height: 40px;}
.section  a.tools{ display:inline-block; font:300 60px "Open Sans",sans-serif; color:#1dadea;background:url(/images/marker_tools.png) no-repeat right 15px; letter-spacing:-2px; vertical-align:top; text-decoration:none; padding-right:42px; margin-right:10px;
	}
.section a.tools:hover{text-decoration:underline;}
.section a.tools:active{color:#9E9FA4;}

#logo
{
  width: 300px;
  height: 150px;
  position: fixed;
  top: 10px;
  left: 500px;
}