text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: none;
    /*letter-spacing: 0.05em;*/
}
.centralBubble {
    opacity: 1;
}
.centralBubble,
.p1Button rect {
    fill: gray;
    stroke: black;
}
.catgoryBubble text {
    text-anchor: middle;
    fill: white;
}
.bubbleSurface {
    opacity: 0.7;
}
.bubbleEdge {
    fill: none;
}
#timeline,
.trackerButton,
.trackerButtonTreemap,
.p1Button {
    font-size: 12px;
}
.triangleButton,
.catgoryBubble,
.trackerButton,
.p1Button {
    cursor: pointer;
}
.triangleButton[status=inactive]{
    cursor: auto;
    opacity: 0.1;
}
.link {
    fill: none;
    stroke: gray;
    stroke-width: 2px;
    opacity: 0.6;
    pointer-events: none;
}