body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
text {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    pointer-events: none;
}
.centralBubble {
    opacity: 1;
}
.centralBubble,
.p1Button rect {
    fill: gray;
    stroke: black;
}
.catgoryBubble text {
    text-anchor: middle;
    fill: white;
}
.bubbleSurface {
    opacity: 0.7;
}
.bubbleEdge {
    fill: none;
}
#timeline,
.trackerButton,
.trackerButtonTreemap,
.p1Button {
    font-size: 12px;
}
#resetBubbles,
.triangleButton,
.catgoryBubble,
.trackerButton,
.p1Button {
    cursor: pointer;
}
.triangleButton[status=inactive]{
    cursor: auto;
    opacity: 0.1;
}
.link {
    fill: none;
    stroke: gray;
    stroke-width: 2px;
    opacity: 0.6;
    pointer-events: none;
}
.callout {
    height: 40px;
    width: 350px;
    background-color: #444;
    position: relative;
    left: 30px;
    color: #DFDFDF;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px #999;
    margin: 10px;
}
.callout::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.8em solid transparent;
    position: absolute;
}
.callout.bottom::before {
    left: 20%;
    top: -20px;
    border-bottom: 10px solid #444;
}
#status {
    font-size: 16px;
    position: relative;
    left: 120px;
    padding: 5px;
}
#status-domain,
#status-category {
    position: relative;
    left: 20px;
}